.year-chart-container{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:25px;

}


.chart-box{

background:white;

border:

1px solid #DCD5C2;

padding:20px;

border-radius:12px;

}



.chart-box h3{

font-family:"Fraunces",serif;

color:#1B2A4A;

margin-bottom:15px;

}



@media(max-width:900px){

.year-chart-container{

grid-template-columns:1fr;

}

}